{% extends 'base.html' %} {% load static %}
{% block title %} My Portfolio {% endblock %}



{% block content %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  {% include 'navbar.html' %}

  <section id="home-section" class="hero">
    {% for cover in profile.coverheader_set.all %}
    <div class="home-slider owl-carousel">
      <div class="slider-item">
        <div class="overlay"></div>
        <div class="container-fluid px-md-0">
          <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end"
            data-scrollax-parent="true">
            <div class="one-third order-md-last img" style="background-image: url({{cover.image.url}})">
              <div class="overlay"></div>
              <div class="overlay-1"></div>
            </div>
            <div class="one-forth d-flex align-items-center ftco-animate"
              data-scrollax=" properties: { translateY: '70%' }">
              <div class="text">
                <span class="subheading">{{ cover.title }}</span>
                <h1 class="mb-4 mt-3">
                  {{cover.content|safe}}
                </h1>
                <p>
                  <a href="mailto:{{ user.email }}" class="btn btn-primary">Hire me</a>
                  <a href="{% static 'MyCV.docx' %}" class="btn btn-primary btn-outline-primary" download>
                    Download CV
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% endfor %}
  </section>

  <section class="ftco-counter img bg-light" id="section-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
          <div class="block-18 d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-suitcase"></span>
            </div>
            <div class="text">
              <strong class="number" data-number="3">0</strong>
              <span>Project Complete</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
          <div class="block-18 d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-loyalty"></span>
            </div>
            <div class="text">
              <strong class="number" data-number="40">0</strong>
              <span>Happy Clients</span>
            </div>
          </div>
        </div>

        <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
          <div class="block-18 d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-calendar"></span>
            </div>
            <div class="text">
              <strong class="number" data-number="5">0</strong>
              <span>Years experienced</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-about ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
      <div class="row d-flex no-gutters">
        <div class="col-md-6 col-lg-5 d-flex">
          <div class="img-about img d-flex align-items-stretch">
            <div class="overlay"></div>
            <div class="img d-flex align-self-stretch align-items-center"
              style="background-image: url({{ profile.image.url }})"></div>
          </div>
        </div>
        <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
          <div class="py-md-5">
            <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                <span class="subheading">My Intro</span>
                <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize">
                  About Me
                </h2>
                <p>
                  {% if profile.about_set.first %}
                  {{ profile.about_set.first|safe }}

                  {% else %}
                  No about details for now

                  {% endif %}

                </p>

                <ul class="about-info mt-4 px-md-0 px-2">
                  {% if profile %}
                  <li class="d-flex">
                    <span>Name:</span> <span> {{ user.username }}</span>
                  </li>
                  <li class="d-flex">
                    <span>Date of birth:</span> <span> {{ profile.date_of_birth }}</span>
                  </li>
                  <li class="d-flex">
                    <span>Address:</span>
                    <span> {{ profile.address }} </span>
                  </li>
                  <li class="d-flex">
                    <span>Zip code:</span> <span> {{ profile.zip_code }} </span>
                  </li>
                  <li class="d-flex">
                    <span>Email:</span> <span> {{ profile.user.email }} </span>
                  </li>
                  <li class="d-flex">
                    <span>Phone: </span> <span> {{profile.phone_number }} </span>
                  </li>
                  {% else %}
                  <li class="d-flex">
                    <span> No info found here </span>
                  </li>
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-12">
                <div class="my-interest d-lg-flex w-100">

                  {% if profile.hobbies_set.all %}
                  {% for hobby in profile.hobbies_set.all %}
                  <div class="interest-wrap d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="flaticon-listening"></span>
                    </div>
                    <div class="text">{{ hobby.hobby }}</div>
                  </div>
                  {% endfor %}

                  {% else %}

                  <div class="interest-wrap d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="flaticon-listening"></span>
                    </div>
                    <div class="text">Music</div>
                  </div>

                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light" id="skills-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <span class="subheading">Skills</span>
          <h2 class="mb-4">My Skills</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
        </div>
      </div>
      <div class="row progress-circle mb-5">
        {% if profile.skills_set.all %}

        {% for skill in profile.skills_set.all %}
        <div class="col-lg-4 mb-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">{{ skill.skill }}</h2>

            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value="{{ skill.average }}">
              <span class="progress-left">
                <span class="progress-bar border-primary"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">
                  {{ skill.average }}<sup class="small">%</sup>
                </div>
              </div>
            </div>
            <!-- END -->

            <!-- Demo info -->
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0"> {{ skill.week_flow }} %</div>
                <span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">{{ skill.month_flow}}%</div>
                <span class="small text-gray">Last month</span>
              </div>
            </div>
            <!-- END -->
          </div>
        </div>
        {% endfor %}

        {% else %}
        <div class="col-lg-12 mb-12">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="h5 font-weight-bold text-center mb-4">All Skills </h2>

            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value="95">
              <span class="progress-left">
                <span class="progress-bar border-primary"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar border-primary"></span>
              </span>
              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                <div class="h2 font-weight-bold">
                  95<sup class="small">%</sup>
                </div>
              </div>
            </div>
            <!-- END -->

            <!-- Demo info -->
            <div class="row text-center mt-4">
              <div class="col-6 border-right">
                <div class="h4 font-weight-bold mb-0">28%</div>
                <span class="small text-gray">Last week</span>
              </div>
              <div class="col-6">
                <div class="h4 font-weight-bold mb-0">60%</div>
                <span class="small text-gray">Last month</span>
              </div>
            </div>
            <!-- END -->
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </section>

  <section class="ftco-section" id="services-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          <span class="subheading"> Services </span>
          {% if profile.service_set.all %}

          {% for sevice in profile.service_set.all %}
          <h2 class="mb-4"> {{ sevice.service }} </h2>
          <p>
            {{ sevice.content }}
          </p>

          {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row">
        {% if profile.myservices_set.all %}

        {% for service in profile.myservices_set.all %}
        <div class="col-md-6 col-lg-4">
          <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="{{service.icon}}"></span>
            </div>
            <div class="media-body">
              <h3 class="heading mb-3"> {{ service.title }}</h3>
              <p>
                {{ service.cover|safe }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}

        {% else %}

        <div class="col-md-12 col-lg-12">
          <div class="media block-12 services d-block bg-white rounded-lg shadow ftco-animate">
            <div class="icon shadow d-flex align-items-center justify-content-center">
              <span class="flaticon-branding"></span>
            </div>
            <div class="media-body">
              <h3 class="heading mb-12">Web Development and Integrations </h3>
              <p>
                I am fully a web Development and Design Architural Flow and Implementations.
              </p>
            </div>
          </div>
        </div>

        {% endif %}


      </div>

    </div>
  </section>

  <section class="ftco-hireme">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-8 col-lg-8 d-flex align-items-center">
          <div class="w-100 py-4">
            <h2>Have a project on your mind.</h2>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly.
            </p>
            <p class="mb-0">
              <a href="mailto:{{user.email}}" class="btn btn-white py-3 px-4">Contact me</a>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-end">
          <img src="{{profile.image.url}}" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-project" id="projects-section">
    <div class="container-fluid px-md-4">
      <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <span class="subheading">Accomplishments</span>
          <h2 class="mb-4">Our Projects</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
        </div>
      </div>
      <div class="row">

        {% if profile.project_set.all %}

        {% for project in profile.project_set.all %}
        <div class="col-md-4">
          <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center"
            style="background-image: url({{project.image.url}})">
            <div class="overlay"></div>
            <div class="text text-center p-4">
              <h3><a href="{{ project.url }}" target="_blank"> {{ project.content }} </a></h3>
              <span> {{ project.name }}</span>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
          <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center"
            style="background-image: url(/static/images/work-1.jpg)">
            <div class="overlay"></div>
            <div class="text text-center p-4">
              <h3><a href="#">Loads &amp; Of Services</a></h3>
              <span>Web Design/ Devlopment </span>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light" id="blog-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <span class="subheading">Latest BBC News </span>
          <h2 class="mb-4">Latest News </h2>
          <p>
            get your latest news gits here to attest to our idomatic workdone.
          </p>
        </div>
      </div>
      <div class="row d-flex">
        {% if news %}

          {% for new in news %}
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
              <a href="{{ new.url }}" class="block-20" style="background-image: url({{ new.urlToImage }})">              </a>
              <div class="text mt-3 float-right d-block">
                <div class="d-flex align-items-center mb-3 meta">
                  <p class="mb-0">
                    <span class="mr-2">{{ new.publishedAt}}</span>
                    <a href="#" class="mr-2">{{ new.author }}</a>
                    <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                  </p>
                </div>
                <h3 class="heading">
                  <a href="{{new.url}}" target="_blank"> {{ new.title }} </a>
                </h3>
                <p>
                  {{ new.content }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}

        {% else %}
        <div class="col-md-6 d-flex ftco-animate">
          <div class="blog-entry justify-content-end">
            <a href="single.html" class="block-20" style="background-image: url('/static/images/image_2.jpg')">
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center mb-3 meta">
                <p class="mb-0">
                  <span class="mr-2">July 03, 2020</span>
                  <a href="#" class="mr-2">Admin</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
              <h3 class="heading">
                <a href="single.html">Why Lead Generation is Key for Business Growth</a>
              </h3>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex ftco-animate">
          <div class="blog-entry">
            <a href="single.html" class="block-20" style="background-image: url('/static/images/image_3.jpg')">
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center mb-3 meta">
                <p class="mb-0">
                  <span class="mr-2">July 03, 2020</span>
                  <a href="#" class="mr-2">Admin</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
              <h3 class="heading">
                <a href="single.html">Why Lead Generation is Key for Business Growth</a>
              </h3>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia.
              </p>
            </div>
          </div>
        </div>

        {% endif %}
      </div>
    </div>
  </section>

  <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <span class="subheading">Contact us</span>
          <h2 class="mb-4">Have a Project?</h2>
          <p>
            Place a message today to get your project, research work, seminar or assignment to be done at once for you
          </p>
        </div>
      </div>

      <div class="row block-9">
        <div class="col-md-8">
          <form class="bg-light p-4 p-md-5 contact-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Name" name="names" id="names" required/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Email" name="email" id="email" required/>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Subject" name="subject" id="subject" required />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control"
                    placeholder="Message" required></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5" id="btn" />
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-4 d-flex pl-md-5">
          <div class="row">
            <div class="dbox w-100 d-flex">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-map-marker"></span>
              </div>
              <div class="text">
                <p>
                  <span>Address:</span> 24 Adeshina Street
                  Surulere, Lagos
                </p>
              </div>
            </div>
            <div class="dbox w-100 d-flex">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-phone"></span>
              </div>
              <div class="text">
                <p>
                  <span>Phone:</span>
                  <a href="tel://+2349161444754">+234 9161 4447 54</a>
                </p>
              </div>
            </div>
            <div class="dbox w-100 d-flex">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-paper-plane"></span>
              </div>
              <div class="text">
                <p>
                  <span>Email:</span>
                  <a href="mailto:{{ user.email }}"> jackoliver023@gmail.com </a>
                </p>
              </div>
            </div>
            <div class="dbox w-100 d-flex">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-globe"></span>
              </div>
              <div class="text">
                <p><span>Website</span> <a href="#"> My PortFolio Site </a></p>
              </div>
            </div>
          </div>
          <!-- <div id="map" class="map"></div> -->
        </div>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>

<script>
  $('#btn').click(function (e) {
    e.preventDefault();

    name = $('#names').val(), 
    email = $('#email').val(), 
    subject = $('#subject').val(), 
    message = $('#message').val(), 
    csrf = document.querySelector('[name=csrfmiddlewaretoken]').value;

    if(name === '' || email === '' || subject === '' || message === '' ){
      alert('please specific the mising fields')
    } else{


      mydata = {
        names: $('#names').val(), email: $('#email').val(), subject: $('#subject').val(), message: $('#message').val(), 
        csrfmiddlewaretoken: csrf
      }
      console.log(mydata)

      $.ajax({
        url: "{% url 'contact' %}",
        type: "post",
        data: mydata,
        dataType: "json",
        headers: { 'X-CSRFToken': csrf },

        success: function (data) {
          console.log(data)
          if (data.status == true) {
            alert(data.msg);
            $('#names').val('');
            $('#email').val('');
            $('#subject').val('');
            $('#message').val('');
          }
        },
        error: function (data) {
          console.log(data)
          if (data.status == false) {
            alert(data.msg);
            $('#names').val('');
            $('#email').val('');
            $('#subject').val('');
            $('#message').val('');
          }

        }
      })
    }
  })
</script>
{% endblock %}
